.ext-select-container {
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
}

.ext-select-select {
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 0;
    border-radius: 4px;
    color: var(--text-base);
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0.24px;
    line-height: 20px;
    padding: 0 32px 0 12px;
    width: 100%;
}
