.ext-text-input-container {
    grid-area: name;
    position: relative;
    width: 50%;
    margin: auto 0;
}

.ext-text-input-label {
    color: var(--text-subdued);
    left: 10px;
    opacity: 0;
    position: absolute;
    top: -12px;
    transition: opacity 0.2s;
}

.ext-text-input-label:focus {
    opacity: 1;
}

.ext-text-input-label > .ext-text-input-label-content {
    position: relative;
    z-index: 2;
}

.ext-text-input-input {
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--text-base);
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    padding: 0 12px;
    width: 100%;
}
