.ext-upload-theme-modal-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
}

.ext-upload-theme-modal-option {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.ext-upload-theme-modal-option > svg {
    min-width: 40px;
    width: 40px;
    margin: auto 0;
}

.ext-upload-theme-modal-option-select {
    width: 100%;
}

.ext-upload-theme-modal-option-remove {
    width: 170px;
}
