.ext-icon {
    fill: currentColor;
    width: var(--encore-graphic-size-decorative-base);
    height: var(--encore-graphic-size-decorative-base);
}

.ext-baseline {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
