.ext-warning-container {
    display: flex;
    flex-direction: column;
    max-width: calc(900px - 32px * 2);
    border: 3px solid var(--text-warning);
    border-radius: 4px;
    padding: 8px 16px;
    gap: 16px;
}

.ext-warning-content {
    margin-bottom: 4px;
}

.ext-warning-restart {
    width: 100%;
    margin-top: 16px;
}
